.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.content-section {
  padding: 20px 0;
  overflow-x:auto;
}

.add-btn {
  margin-bottom: 20px;
}

.table thead th {
  background-color: #141414;
  color: white;
}

footer {
  margin-top: 50px;
  padding: 20px 0;
}

.required-asterisk {
  content: " *";
  color: red;
}
.error {
  color: red;
}


